# Please specify folders and files, which are not important to upload...

# folders
__pycache__/
tflog/
.idea/
tmp/
log/


# code files
*sandbox.py
*.log
*.cfg
*.[oa]


# other files
.directory
*~
~*
*.doc
*.docx
*.dot
*.dotx
*.txt
*.csv