# Please specify folders and files, which are not important to upload...

# folders
__pycache__/
tflog/
.idea/
tmp/
log/
sandbox/

# code files
*.log
*.cfg
*.[oa]

# other files
.directory
*~
~*
*.doc
*.docx
*.dot
*.dotx
*.txt
*.csv
*.xls
*.xlsx
*trackData.json

# all with
*sandbox*